# Used-Cars

## Programming for Data Science Course from University of Science
## Final project



### Team members
<center>

|Thành viên           |MSSV     |
|:-------------------|:-------|
|Vũ Minh Chiến        |22127045 |
|Quách Trần Quán Vinh |22127460 |

</center>

### **1. Collecting data**

What subject is your data about?
- Craigslist is the world's largest collection of used vehicles for sale, this dataset includes part of used vehicle entry within the United States on Craigslist.

What is the source of your data?
- The source of this data set can be found in [kaggle](https://www.kaggle.com/datasets/austinreese/craigslist-carstrucks-data/data). For this project, we have reduce the origin data set, which contains 426880 rows, down to 150000 rows (the reason for this will be mentioned in reflection part).

Do authors of this data allow you to use like this?
- Yes, this data set have `CC0: Public Domain` license (you can find more informaitons about the license [here](https://creativecommons.org/publicdomain/zero/1.0/)).

How did authors collect data?
- The arthor collect data by a web application built with Flask which scrapes used vehicle listings weekly from all regional Craigslist sites in the United States (you can find more informaitons on scraping process [here](https://github.com/AustinReese/UsedVehicleSearch)).

Import necessary libraries

In [1]:
import zipfile
import pandas as pd

Read the dataset

In [2]:
df = pd.read_csv('vehicles.zip', delimiter=',',compression='zip')

### **2. Exploring data**

In [14]:
# display dataset
df.sample(5)

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
62999,7316982785,https://oklahomacity.craigslist.org/ctd/d/beth...,oklahoma city,https://oklahomacity.craigslist.org,1900,2007.0,nissan,titan se,good,8 cylinders,...,full-size,pickup,grey,https://images.craigslist.org/00u0u_bW2Tze5l7m...,$1900 IS THE DOWN PAYMENT. THIS IS A FINANCE C...,NaN,ok,35.513336,-97.637553,2021-05-04T17:22:33-0500
3141,7302069266,https://annapolis.craigslist.org/ctd/d/annapol...,annapolis,https://annapolis.craigslist.org,39590,2020.0,infiniti,q60 3.0t luxe coupe 2d,good,6 cylinders,...,NaN,coupe,silver,https://images.craigslist.org/00l0l_105RftVdbP...,Carvana is the safer way to buy a car During t...,NaN,md,38.970000,-76.500000,2021-04-05T11:21:31-0400
37624,7303133033,https://hudsonvalley.craigslist.org/ctd/d/crag...,hudson valley,https://hudsonvalley.craigslist.org,19995,2018.0,toyota,rav4,NaN,4 cylinders,...,NaN,SUV,black,https://images.craigslist.org/00m0m_eMuMdPlE9R...,This 2018 Toyota RAV4 Adventure has been SOLD ...,NaN,ny,41.711181,-74.403188,2021-04-07T11:34:27-0400
23317,7307697184,https://desmoines.craigslist.org/ctd/d/des-moi...,des moines,https://desmoines.craigslist.org,9850,2004.0,chevrolet,monte carlo,good,6 cylinders,...,mid-size,coupe,black,https://images.craigslist.org/00909_itltBKfZWn...,2004 Chevrolet Monte Carlo SS SUPERCHARGED - $...,NaN,ia,41.614356,-93.600567,2021-04-16T09:50:05-0500
70428,7309803804,https://raleigh.craigslist.org/ctd/d/asheboro-...,raleigh / durham / CH,https://raleigh.craigslist.org,0,2011.0,nissan,rogue,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00r0r_ickCgJblk3...,Mid State Toyota Call Sales at 336-792-4920 20...,NaN,nc,35.703359,-79.780703,2021-04-20T11:04:44-0400

##### How many rows and columns?

In [7]:
rows, cols = df.shape
print(f'Number of rows: {rows} \nNumber of columns: {cols}')

Number of rows: 100000
Number of columns: 26

##### What is the meaning of each row/column?

- Please refer to [kaggle](https://www.kaggle.com/datasets/austinreese/craigslist-carstrucks-data/data) in order to get the meaning of each column.
- Each row corresponds to an used car with different attributes being sale.

##### Are there any duplicated rows?

In [11]:
if df.duplicated().sum() != 0:
    print("There are duplicate rows")
else:
    print('There aren\'t duplicate rows')

There aren't duplicate rows

##### What is the current data type of each column? Are there columns having inappropriate data types?

In [6]:
df.dtypes

id                int64
url              object
region           object
region_url       object
price             int64
year            float64
manufacturer     object
model            object
condition        object
cylinders        object
fuel             object
odometer        float64
title_status     object
transmission     object
VIN              object
drive            object
size             object
type             object
paint_color      object
image_url        object
description      object
county          float64
state            object
lat             float64
long            float64
posting_date     object
dtype: object

`county` should be object type instead of float64 type.

##### With each numerical column, how are values distributed?

##### With each categorical column, how are values distributed?

### **3. Asking meaningful questions**

##### **What factors most significantly impact used car prices?**
- This give us the insight of how each features affect the car pricing. The sellers can base on this to decide the price of the car which they want to sell to make the most of it.
- For buyers, this can help to determine how valuable a car is before buying it, this can help prevent buying bad cars with crazy price.

##### **What is the common trend of all sold cars (manufacturer, year, odometer,...)? What it says about the used cars in American?**
- Knowing the habbit of customers can help the sellers focus on what the customers are looking for so as to push the consumptions.
- The manufacturers can base on this to adjust their products to fit with more people.