# Used-Cars

## Programming for Data Science Course from University of Science
## Final project



### Team members
<center>

|Thành viên           |MSSV     |
|:-------------------|:-------|
|Vũ Minh Chiến        |22127045 |
|Quách Trần Quán Vinh |22127460 |

</center>

### **1. Collecting data**

What subject is your data about?
- Craigslist is the world's largest collection of used vehicles for sale, this dataset includes part of used vehicle entry within the United States on Craigslist.

What is the source of your data?
- The source of this data set can be found in [kaggle](https://www.kaggle.com/datasets/austinreese/craigslist-carstrucks-data/data). For this project, we have reduce the origin data set, which contains 426880 rows, down to 150000 rows (the reason for this will be mentioned in reflection part).

Do authors of this data allow you to use like this?
- Yes, this data set have `CC0: Public Domain` license (you can find more informaitons about the license [here](https://creativecommons.org/publicdomain/zero/1.0/)).

How did authors collect data?
- The arthor collect data by a web application built with Flask which scrapes used vehicle listings weekly from all regional Craigslist sites in the United States (you can find more informaitons on scraping process [here](https://github.com/AustinReese/UsedVehicleSearch)).

Import necessary libraries

In [1]:
import zipfile
import pandas as pd

Read the dataset

In [2]:
df = pd.read_csv('vehicles.zip', delimiter=',',compression='zip')

### **2. Exploring data**

In [7]:
# display dataset
df.sample(5)

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
120056,7307846886,https://treasure.craigslist.org/cto/d/jensen-b...,treasure coast,https://treasure.craigslist.org,9000,2010.0,gmc,terrain,excellent,6 cylinders,...,mid-size,SUV,black,https://images.craigslist.org/00202_58JvopBxw6...,20010 GMC Terrain in very good condition and l...,NaN,fl,27.235600,-80.227700,2021-04-16T14:30:58-0400
44862,7310936983,https://palmsprings.craigslist.org/ctd/d/palm-...,palm springs,https://palmsprings.craigslist.org,39999,2018.0,bmw,430i,excellent,4 cylinders,...,NaN,convertible,NaN,https://images.craigslist.org/00R0R_23tLyxCfu6...,"ONLY 8,000 MILES 2018 BMW 430i Convertible is ...",NaN,ca,33.743904,-116.359028,2021-04-22T10:41:14-0700
54015,7315457611,https://sacramento.craigslist.org/cto/d/citrus...,sacramento,https://sacramento.craigslist.org,26000,1957.0,ford,custom 300,excellent,6 cylinders,...,full-size,sedan,black,https://images.craigslist.org/00S0S_dVhjglTgfy...,This rare and classy 1957 Ford Custom 300 with...,NaN,ca,38.695200,-121.307500,2021-05-01T12:33:41-0700
143969,7311629600,https://quadcities.craigslist.org/ctd/d/clinto...,"quad cities, IA/IL",https://quadcities.craigslist.org,20950,2013.0,chevrolet,silverado 1500 lt 4x4,excellent,8 cylinders,...,full-size,truck,black,https://images.craigslist.org/00P0P_1FkYqXrp9r...,Selling this 2013 Chevrolet Silverado LT 4x4 w...,NaN,il,41.829639,-90.202114,2021-04-23T17:56:39-0500
20894,7302112411,https://littlerock.craigslist.org/ctd/d/benton...,little rock,https://littlerock.craigslist.org,7995,2010.0,dodge,journey sxt,NaN,NaN,...,NaN,NaN,NaN,https://images.craigslist.org/00G0G_7fxbBF02ed...,"3.5 V6 Engine, automatic transmission, blue to...",NaN,ar,34.560046,-92.585841,2021-04-05T11:26:40-0500